h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
}

.card-w {
    height: 250px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-category-w {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.card-description-w {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
