
<nav class="navbar text-light mb-3" style="background-color:#000000;">
    <div class="container-fluid">
        <h2><a class="navbar-brand text-light">İstek-Başvuru-Şikayet Mesajları</a></h2>
    </div>
</nav>

<div id="divIletisim">
</div>

<script src="~/js/admin/iletisim.js"></script>