
<nav class="navbar text-light mb-3" style="background-color:#000000;">
    <div class="container-fluid">
        <h2><a class="navbar-brand text-light">Rent A Car Kullanıcıları</a></h2>
        <form class="d-flex" role="search">
            <button type="button"
                    class="btn btn-light"
                    data-bs-toggle="modal"
                    onclick="YeniKullanici()"
                    data-bs-target="#staticBackdrop">
                Yeni Kullanici Ekle
            </button>
        </form>
    </div>
</nav>

<div id="divKullanici">
</div>

<div class="modal fade"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Kullanici Bilgileri</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" id="kullaniciEkleForm" novalidate>
                    <div class="form-group col-md-6">
                        <label class="form-label" for="sehirAd">Şehir Seçiniz :</label>
                        <select class="form-select" id="sehirAd">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label" for="sehirAd">Rol Seçiniz :</label>
                        <select class="form-select" id="rolAd">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Kullanıcı Durumunu Seçiniz :</label>
                        <select class="form-select" id="aktifMi" required>
                            <option selected value="true">Aktif</option>
                            <option value="false">Pasif</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="ad" class="form-label">Adınızı Giriniz  :</label>
                        <input type="text"
                               class="form-control"
                               id="ad"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-6">
                        <label for="soyad" class="form-label">Soyadınızı Giriniz  :</label>
                        <input type="text"
                               class="form-control"
                               id="soyad"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-6">
                        <label for="mailAdress" class="form-label">Mail Adresinizi  Giriniz :</label>
                        <input type="text"
                               class="form-control"
                               id="mailAdress"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-6">
                        <label for="parola" class="form-label">Parolanızı Giriniz :</label>
                        <input type="text"
                               class="form-control"
                               id="parola"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-6">
                        <label for="telNo" class="form-label">Telefon Numaranızı Giriniz :</label>
                        <input type="text"
                               class="form-control"
                               id="telNo"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-6">
                        <label for="tcNo" class="form-label">Tc Kimlik Numaranızı Giriniz :</label>
                        <input type="text"
                               class="form-control"
                               id="tcNo"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-6">
                        <label for="dogumTarih" class="form-label">Doğum Tarihinizi Giriniz :</label>

                        <input type="datetime-local"
                               id="dogumTarih"
                               name="trip-start"
                               value="0000-00-00"
                               min="1923-12-31"
                               max="2043-12-31"
                               class="form-control" />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-6">
                        <label for="ehliyetTarih" class="form-label">Ehliyet Alım Tarihinizi Giriniz :</label>

                        <input type="datetime-local"
                               id="ehliyetTarih"
                               name="trip-start"
                               value="0000-00-00"
                               min="1963-12-31"
                               max="2043-12-31"
                               class="form-control" />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Adres Bilgilerini Giriniz :</label>
                        <textarea class="form-control" id="acikAdres"></textarea>
                    </div>

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Vazgeç
                    </button>
                    <button class="btn btn-primary" type="submit" onclick="KullaniciKaydet()">Kaydet</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script>
    (() => {
        "use strict";

        const forms = document.querySelectorAll(".needs-validation");
        Array.from(forms).forEach((form) => {
            form.addEventListener(
                "submit",
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();
</script>


<script src="~/js/admin/kullanici.js" asp-append-version="true"></script>